Repository HelloWorldSeniorProject/AirKeys, pull requests merged in 2023-11, with the labels that each got.

#36 Added data input module
  src/data/stream.py
Labels: feature

#35 Added Requirement to Test Mapping
  config/requirements.txt
  documentation/code/Requirements.csv
  documentation/code/TestReport.txt
  src/test/common/test_config_table.py
  src/test/common/test_file_manager.py
  src/test/common/test_internal_clock.py
  src/test/fixtures.py
  src/test/swte.py
Labels: documentation, dev environment

#37 Update Common Modules and Tests
  config/sphinx/conf.py
  documentation/code/Requirements.csv
  documentation/code/TestReport.txt
  documentation/code/doctrees/common.config.config_table.doctree
  documentation/code/doctrees/common.types.doctree
  documentation/code/doctrees/environment.pickle
  documentation/code/doctrees/main.doctree
  documentation/code/html/.buildinfo
  documentation/code/html/_modules/common/config/config_table.html
  documentation/code/html/_modules/common/file/file_manager.html
  documentation/code/html/_modules/common/power/power_interface.html
  documentation/code/html/_modules/common/time/internal_clock.html
  documentation/code/html/_modules/common/time/timer.html
  documentation/code/html/_modules/common/types.html
  documentation/code/html/_modules/index.html
  documentation/code/html/_modules/main.html
  documentation/code/html/_modules/util/logger.html
  documentation/code/html/_static/documentation_options.js
  documentation/code/html/common.config.config_table.html
  documentation/code/html/common.config.html
  documentation/code/html/common.file.file_manager.html
  documentation/code/html/common.file.html
  documentation/code/html/common.html
  documentation/code/html/common.power.html
  documentation/code/html/common.power.power_interface.html
  documentation/code/html/common.time.html
  documentation/code/html/common.time.internal_clock.html
  documentation/code/html/common.time.timer.html
  documentation/code/html/common.types.html
  documentation/code/html/genindex.html
  documentation/code/html/index.html
  documentation/code/html/main.html
  documentation/code/html/modules.html
  documentation/code/html/objects.inv
  documentation/code/html/py-modindex.html
  documentation/code/html/search.html
  documentation/code/html/searchindex.js
  documentation/code/html/util.html
  documentation/code/html/util.info.html
  documentation/code/html/util.logger.html
  documentation/code/html/util.singleton.html
  src/common/config/config_table.py
  src/common/file/file_manager.py
  src/common/types.py
  src/test/common/test_config_table.py
  src/test/common/test_file_manager.py
  src/test/swte.py
Labels: documentation, enhancement

#39 Design Data Input and Processing Modules
  documentation/design/output/config_table.pdf
  documentation/design/output/data_conversion.pdf
  documentation/design/output/data_processing.pdf
  documentation/design/output/data_stream.pdf
  documentation/design/output/file_manager.pdf
  documentation/design/output/internal_clock.pdf
  documentation/design/output/timer.pdf
  documentation/design/source/config_table.d2
  documentation/design/source/data_conversion.d2
  documentation/design/source/data_processing.d2
  documentation/design/source/data_stream.d2
  documentation/design/source/file_manager.d2
Labels: documentation

#42 Automated Source Docs to Pages
  .github/workflows/generate_documentation.yaml
Labels: documentation, dev environment

#43 Update stream.py
  src/data/stream.py
Labels: documentation, refactor
